@CHARSET "UTF-8";

*{
	margin: 0;
	padding: 0;
}

#navigation{
	width: 100%;
	margin: 0 auto;
	background: #333;
	list-style: none;
}

#navigation ul{
	border-bottom: 5px solid black;
}

#navigation ul li{
	display:inline-block;
	max-width: 100%;
}


.helper{

}

#telefone{
	
}

#cpf{
	
}

#navigation ul li a{
	display: block;
	padding: 15px;
	color: #FFF;
	padding-top: 20px;
	text-decoration: none;
	font: bold 12px arial;
}

#navigation li:hover{
	background: #444;
	/*color: #06C;*/
}

/*#navigation li:hover .submenu{
	display: block;
}*/

span.line{
	display: block;
	position: absolute;
	width: 64px;
	height: 5px;
	background: #06C;
	bottom: 0;
}

.esconder{
	display: none;
}

.submenu{
	width:150px;
	background: #333;
	position: absolute;
	left: 0;
	list-style: none;
	padding: 0;
}

.submenu li{
	width: 150px;
	/*float: left;*/
	/*border-bottom: 1px solid black;*/
}

.submenu a{
	display: block;
	height: 15px; 
	padding: 15px;
	color: #FFF;
}

.submenu li:hover{
	background: #444;
	/*color: #06C;*/
}
