<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Realizar Cadastro</title>
<link rel="stylesheet" type="text/css" href="css/style.css" media="all">
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript" src="js/script2.js"></script>-->
<!--<script>
jQuery(function($){
$("#cpf").mask("999.999.999-99");
$("#telefone").mask("(00) 0000-00009");
});
</script>
<script type="text/javascript">
var $m = jQuery.noConflict()
        $m(document).ready(function(){
        $m("#cpf").mask("999.999.999-99");
        $m("#telefone").mask("(99) 9999-9999");
    });
</script> -->
</head>
<body>
	<h1>Cadastro</h1>
	<form action="realizar-cadastro" method="POST">
		Cpf: <input type="text" id="cpf" required="required" name="cpf"/></br></br>
		Nome: <input type="text" required="required" name="nome"/></br></br>
		Telefone: <input type="text" id="telefone" required="required" name="telefone"/></br></br>
		Email: <input type="email" required="required" name="email"/></br></br>
		Senha: <input type="password" required="required" name="senha"/>
		<input type="submit" value="Cadastrar"/></br>
	</form>
</body>
</html>